@page
@model RockMuseumUI.Pages.Videodump.VideoPage2Model
@{
    ViewData["Title"] = "Video Page Numero Dos";
}

<h1>@ViewData["Title"]</h1>
<video id="VideoPlayer" src="~/Videoes/RickCrack.mp4" autoplay controls width="1280" height="720" loop>
</video>