@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>
    <p>Dette er en demo for Rockmuseets hjemmeside med virtuel rundvisning.</p>
</div>
